body {
    background-color: coral;
}

h1 {
    color: red;
}

.clicked {
    color: blue;
}

.cuty-font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}